<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>OVI</title>
    <link rel="stylesheet" href="./../css/style.css">
</head>

<body>
    <ul>
        <li><a href="./../index.html">Inicio</a></li>
        <li class="dropdown">
            <a href="" class="dropbtn">Multimedia</a>
            <div class="dropdown-content">
                <a href="./multimedia/multimedia1.html">GIT</a>
                <a href="./multimedia/multimedia2.html">HTML</a>
            </div>
        </li>
        <li class="dropdown">
            <a href="" class="dropbtn">Lecturas</a>
            <div class="dropdown-content">
                <a href="./lecturas/lectura1.html">Git</a>
                <a href="./lecturas/lectura2.html">GitHUB</a>
                <a href="./lecturas/lectura3.html">HTML</a>
                <a href="./lecturas/lectura4.html">Estructura HTML</a>
                <a href="./lecturas/lectura5.html">CSS</a>
            </div>
        </li>
        <li class="dropdown">
            <a href="" class="dropbtn">Actividades</a>
            <div class="dropdown-content">
                <a href="./actividades/actividad1.html">Actividad 1</a>
                <a href="./actividades/actividad2.html">Actividad 2</a>
                <a href="./actividades/actividad3.html">Actividad 3</a>
            </div>
        </li>
        <li><a href="#">Autores</a></li>
    </ul>
    <div class="fila">
        <div class="colum-12">
            <h1>Autores</h1>
            <hr>
        </div>
        <div class="colum-6">
            <h3>Nombre:</h3>
            <li>Dony Darío Cárdenas Arrieta</li>
            <br>
            <h3>Codigo</h3>
            <li>72284820</li>
            <br>
            <h3>Programa</h3>
            <li>Ingenieria de sistemas</li>
            <br>
            <h3>Correo electronico</h3>
            <li>ddcardenasa@unadvirtual.edu.co</li>
            <br>
        </div>
        <div class="colum-3">
            <img src="../img/descarga.jpg" alt="">
        </div>
    </div>

    <br>

    <div class="fila">
            <div class="colum-12">
                
                <hr>
            </div>
            <div class="colum-6">
                <h3>Nombre:</h3>
                <li>Tatiana Figueroa Cubillos</li>
                <br>
                <h3>Codigo</h3>
                <li>1022361195</li>
                <br>
                <h3>Programa</h3>
                <li>Ingenieria de sistemas</li>
                <br>
                <h3>Correo electronico</h3>
                <li>tefigueroac@unadvirtual.edu.co@unadvirtual.edu.co</li>
                <br>
            </div>
            <div class="colum-3">
                <img src="../img/avatar2.jpg" alt="">
            </div>
        </div>
</body>


</html>