<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>OVI</title>
    <link rel="stylesheet" href="./../../css/style.css">
</head>

<body class="degradado1">
    <ul>
        <li><a href="./../../index.html">Inicio</a></li>
        <li class="dropdown">
            <a href="" class="dropbtn">Multimedia</a>
            <div class="dropdown-content">
                <a href="./multimedia1.html">GIT</a>
                <a href="multimedia2.html">HTML</a>
            </div>
        </li>
        <li class="dropdown">
            <a href="" class="dropbtn">Lecturas</a>
            <div class="dropdown-content">
                <a href="./../lecturas/lectura1.html">Git</a>
                <a href="./../lecturas/lectura2.html">GitHUB</a>
                <a href="./../lecturas/lectura3.html">HTML</a>
                <a href="./../lecturas/lectura4.html">Estructura HTML</a>
                <a href="./../lecturas/lectura5.html">CSS</a>
            </div>
        </li>
        <li class="dropdown">
            <a href="" class="dropbtn">Actividades</a>
            <div class="dropdown-content">
                <a href="./../actividades/actividad1.html">Actividad 1</a>
                <a href="./../actividades/actividad2.html">Actividad 2</a>
                <a href="./../actividades/actividad3.html">Actividad 3</a>
            </div>
        </li>
        <li><a href="./../autores.html">Autores</a></li>
    </ul>
    <div class="fila">
        <div class="colum-10">
            <h1>Videotutorial git</h1>
            <p>En el siguiente audio se habla sobre git.</p>
        </div>
        <div class="colum-3">
            <h3>Audio - git</h3>
            <audio controls autoplay>
                <source src="./../../audios/git.mp3">
            </audio>
            <p>Audio 1. Introducción GIT (28 de 10 de 2019). Recuperado de "https://www.youtube.com/watch?v=zH3I1DZNovk" </p>
        </div>
        <div class="colum-4">
            <h3>Video historia de gitHub</h3>
            <div>
                <iframe width="644" height="362" src="https://www.youtube.com/embed/_yGgaYZ-z_c" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
            <p>Video 1. Historia de GIT (28 de 10 de 2019). Recuperado de "https://www.youtube.com/embed/_yGgaYZ-z_c" </p>
        </div>
    </div>
</body>

</html>