<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>GIT</title>
    <link rel="stylesheet" href="../../css/style.css">
</head>

<body>
    <ul>
        <li><a href="./../../index.html">Inicio</a></li>
        <li class="dropdown">
                <a href="" class="dropbtn">Multimedia</a>
                <div class="dropdown-content">
                    <a href="./../multimedia/multimedia1.html">GIT</a>
                    <a href="./../multimedia/multimedia2.html">HTML</a>
                </div>
            </li>
        <li class="dropdown">
            <a href="" class="dropbtn">Lecturas</a>
            <div class="dropdown-content">
                <a href="./lectura1.html">Git</a>
                <a href="./lectura2.html">GitHUB</a>
                <a href="./lectura3.html">HTML</a>
                <a href="./lectura4.html">Estructura HTML</a>
                <a href="./lectura5.html">CSS</a>
            </div>
        </li>
        <li class="dropdown">
            <a href="" class="dropbtn">Actividades</a>
            <div class="dropdown-content">
                <a href="./../actividades/actividad1.html">Actividad 1</a>
                <a href="./../actividades/actividad2.html">Actividad 2</a>
                <a href="./../actividades/actividad3.html">Actividad 3</a>
            </div>
        </li>
        <li><a href="./../autores.html">Autores</a></li>
    </ul>

    <div class="colum-3"></div>
    <div class="colum-8">
        <h1><i>¿Que es Git y para que sirve?</i></h1>
        <p>Un sistema de control de versiones nos va a servir para trabajar en equipo de una manera mucho más simple y optima cuando estamos desarrollando software.

            Con Git vamos a poder controlar todos los cambios que se hacen en nuestra aplicación y en nuestro código y vamos a tener control absoluto de todo lo que pasa en el código, pudiendo volver atrás en el tiempo, pudiendo abrir diferentes ramas de desarrollo, etc..
        </p>
    </div>
    <div class="fila">
        <div class="colum-2">
            <img src="./../../img/git.jpeg" alt="">
            <p>Imagen 1. Logo de git (28 de 10 de 2019). Recuperado de "https://blog.muktek.com/git-y-github-627858e07167?gi=ca2abfc47217" </p>
        </div>
        <div class="colum-5">
            <br>
            <p> Vamos a poder trabajar en equipo de una manera muy sencilla y optimizada, de forma que si tenemos dos o tres personas trabajando en ciertas funcionalidades del proyecto y nosotros podemos estar trabajando en nuestra parte del código. Cuando acabamos de desarrollar nuestro código, utilizamos Git para mezclar los cambios con los otros compañeros. De forma que el código se mezcla de manera perfecta sin generar ningún tipo de fallo y de forma rápida.</p>
        </div>
    </div>

    <div class="colum-8">
        <h1><i>Tutorial</i></h1>
        <p>Un sistema de control de versiones nos va a servir para trabajar en equipo de una manera mucho más simple y optima cuando estamos desarrollando software.

            Con Git vamos a poder controlar todos los cambios que se hacen en nuestra aplicación y en nuestro código y vamos a tener control absoluto de todo lo que pasa en el código, pudiendo volver atrás en el tiempo, pudiendo abrir diferentes ramas de desarrollo, etc..
        </p>

        <h2>Configuración</h2>

        <li>Descarga git para OSX o windows.</li>

        <br>

        <h2>Crea un repositorio nuevo</h2>
       
        <li>Crea un directorio nuevo, ábrelo y ejecuta git init</li>

        <br>
        
        <h2>Add y commit</h2>
       
        <li>Puedes registrar cambios (añadirlos al Index) usando
            git add filename y
            git add .</li>

        <br>

        <h2>Envío de cambios</h2>
       
        <li>
            Tus cambios están ahora en el HEAD de tu copia local. Para enviar estos cambios a tu repositorio remoto ejecuta
            "git push origin master".
        </li>

        <li>
            Reemplaza master por la rama a la que quieres enviar tus cambios.
        </li>

        <br>

        <br>

        <h2>Actualiza y fusiona</h2>
       
        <li>
                Para actualizar tu repositorio local al commit más nuevo, ejecuta
                git pull.
        </li>

        <li>
                Para fusionar otra rama a tu rama activa (por ejemplo master), utiliza
                git merge branch.
        </li>

        <br>


        


    </div>

</body>

<footer>
        <p>R, Dudler. (2018). git - la guía sencilla [Página Web]. Recuperado el 28 de octubre de 2019 de: https://rogerdudler.github.io/git-guide/index.es.html    </p>
</footer>


</html>