<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>OVI</title>
    <link rel="stylesheet" href="../../css/style.css">
</head>

<body>
    <ul>
        <li><a href="./../../index.html">Inicio</a></li>
        <li class="dropdown">
            <a href="" class="dropbtn">Multimedia</a>
            <div class="dropdown-content">
                <a href="./../multimedia/multimedia1.html">GIT</a>
                <a href="./../multimedia/multimedia2.html">HTML</a>
            </div>
        </li>
        <li class="dropdown">
            <a href="" class="dropbtn">Lecturas</a>
            <div class="dropdown-content">
                    <a href="./lectura1.html">Git</a>
                    <a href="./lectura2.html">GitHUB</a>
                    <a href="./lectura3.html">HTML</a>
                    <a href="./lectura4.html">Estructura HTML</a>
                    <a href="./lectura5.html">CSS</a>
            </div>
        </li>
        <li class="dropdown">
            <a href="" class="dropbtn">Actividades</a>
            <div class="dropdown-content">
                <a href="./../actividades/actividad1.html">Actividad 1</a>
                <a href="./../actividades/actividad2.html">Actividad 2</a>
                <a href="./../actividades/actividad3.html">Actividad 3</a>
            </div>
        </li>
        <li><a href="./../autores.html">Autores</a></li>
    </ul>

    <div class="colum-3"></div>
    <div class="colum-8">
        <h1><i>CSS</i></h1>
        <p>
                Es un lenguaje de hojas de estilo, es decir, te permite aplicar estilos de manera selectiva a elementos en documentos HTML. Por ejemplo, para seleccionar todos los elementos de párrafo en una página HTML y volver el texto dentro de ellos de color rojo, has de escribir este CSS:
        </p>
    </div>
    <div class="fila">
        <div class="colum-3"></div>
        <div class="colum-2">
            <img src="./../../img/css.png" alt="">
            <p>Imagen 1. Logo Css (28 de 10 de 2019). Recuperado de "https://desarrolloweb.com/home/css/" </p>
        </div>
    </div>
    <div class="colum-8">
            <h1><i>Historia</i></h1>
            
    
            <p>
                    Una hoja de estilo está compuesta por reglas que especifican el aspecto de los elementos del documento. Cada regla, a su vez, está compuesta por un selector, con el que seleccionar qué elemento se verá afectado por la regla, y un bloque de declaración, con una o más declaraciones que indican cómo se verá afectado, separadas por un punto y coma (;). Cada declaración, por último, se compone de una propiedad y un valor, separados por dos puntos (:).

Supongamos por ejemplo que queremos que el texto de nuestra página sea de color rojo. Podríamos usar la siguiente regla:
<br>
<br>
body {  
    <br>
  color:red;  
  <br>
}  

<br>

body sería en este caso el selector. Es un selector muy simple, llamado de etiqueta, de elemento o de tipo, que selecciona las etiquetas con el nombre especificado. En este ejemplo sólo tendríamos una declaración, que pone la propiedad color (el color de la fuente) a red (rojo).

Vamos a probar nuestro pequeño ejemplo. Para ello necesitaremos un pequeño documento HTML de prueba:
<br>
<br>
< !DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"  
  "http://www.w3.org/TR/html4/strict.dtd">  
  <br>
< html>  
<br>
< head>  
<br>
  < meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">  
  <br>
  < title>Ejemplo</title>  
  <br>
< /head>  
<br>
  
< body><p>Hola Mundo</p></body>  
<br>
< /html>  
<br>
<p>Y alguna forma de indicar la hoja de estilo que queremos aplicar. Tenemos 4 formas distintas de aplicar las reglas de una hoja de estilo a un documento HTML. Podemos:</p>
<li>Insertar las reglas de estilo en el propio documento, en una etiqueta style.</li>
<li>Insertar las declaraciones en el propio documento, en el atributo style del elemento cuyo aspecto queramos modificar.</li>
<li>Desde un archivo externo, usando la directiva @import de CSS dentro de la etiqueta style</li>      
<li>Desde un archivo externo, usando la etiqueta link</li>  
<img src="./../../img/css1.PNG" alt="">
            <p>Imagen 2. Aplicar reglas Css (28 de 10 de 2019). Recuperado de "http://mundogeek.net/archivos/2010/03/02/tutorial-rapido-de-css/" </p>

            <br>
            <br>
            
            <img src="./../../img/css2.png" alt="">
            <p>Imagen 3. Aplicar reglas Css (28 de 10 de 2019). Recuperado de "http://mundogeek.net/archivos/2010/03/02/tutorial-rapido-de-css/" </p>

            <br>
            <br>
            
            <img src="./../../img/css3.png" alt="">
            <p>Imagen 3. Selectores Css (28 de 10 de 2019). Recuperado de "http://mundogeek.net/archivos/2010/03/02/tutorial-rapido-de-css/" </p>

            <br>
            <br>
            
            <img src="./../../img/css4.png" alt="">
            <p>Imagen 3. Propiedades Css (28 de 10 de 2019). Recuperado de "http://mundogeek.net/archivos/2010/03/02/tutorial-rapido-de-css/" </p>


</p>
            
            
    
    
            
    
    
        </div>

        <br>
        <br>
        <br>


    

</body>

<footer>
        <p>J, Pino. (2018). ¿Qué es HTML? [Página Web]. Recuperado el 28 de octubre de 2019 de: https://devcode.la/blog/que-es-html/    </p>
</footer>


</html>